
.login-container {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  
  .content-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px; 
    height: 100%;
    position: relative;
    z-index: 1;
  }
  
  .motto-container {
    flex: 1;
    padding-right: 20px;
  }
  
  .form-container {
    flex: 2;
    padding-left: 20px;
  }
  
  .motto {
    font-size: 2rem;
    font-weight: bold;
    display: inline-block;
    overflow: hidden; 
    border-right: 0.15em solid #000; 
    white-space: nowrap; 
    animation: typing 4s steps(12) 1s 1 normal both, blink 0.75s step-end infinite; /* Animacja pisania */
  }
  
  /* Animacja pisania */
  @keyframes typing {
    from {
      width: 0; 
    }
    to {
      width: 100%; 
    }
  }
  
  @media (height<901px) or (width<1600px) {
    .content-container {
      flex-direction: column;
    }
  }
  