.container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

.app {
  display: flex;
  justify-content: space-evenly; 
  align-items: center; 
  width: 100vw; 
}

.image {
  width: 150px;
  height: auto;
}
/* Kontener z mottem */
.motto-container {
  margin-top: 20px; /* Odstęp między obrazkiem a mottem */
  text-align: center;
}

/* Animacja pisania dla motta */
.motto {
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
  overflow: hidden; /* Ukrywa tekst, który jeszcze się nie pojawił */
  border-right: 0.15em solid #000; /* Kursor do efektu pisania */
  white-space: nowrap; /* Zapewnia, że tekst będzie w jednym wierszu */
  animation: typing 4s steps(12) 1s 1 normal both, blink 0.75s step-end infinite; /* Animacja pisania */
}

/* Animacja pisania */
@keyframes typing {
  from {
    width: 0; /* Zaczyna się od braku tekstu */
  }
  to {
    width: 100%; /* Kończy na pełnym tekście */
  }
}

/* Animacja migania kursora */
@keyframes blink {
  50% {
    border-color: transparent; /* Kursor znika w połowie cyklu */
  }
}
@media (height<901px) or (width<1200px) {
  .app {
    flex-direction: column;
  }
}
