/* login.css */

.login-container {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  
  .content-container {
    display: flex;
    justify-content: space-between; /* Rozstawienie komponentów na całej szerokości */
    align-items: center; /* Wyśrodkowanie komponentów w pionie */
    padding: 20px; /* Dodatkowe odstępy wokół komponentów */
    height: 100%;
    position: relative;
    z-index: 1;
  }
  
  .motto-container {
    flex: 1;
    padding-right: 20px;
  }
  
  .form-container {
    flex: 2;
    padding-left: 20px;
  }
  
  
  /* Animacja pisania dla motta */
  .motto {
    font-size: 2rem;
    font-weight: bold;
    display: inline-block;
    overflow: hidden; /* Ukrywa tekst, który jeszcze się nie pojawił */
    border-right: 0.15em solid #000; /* Kursor do efektu pisania */
    white-space: nowrap; /* Zapewnia, że tekst będzie w jednym wierszu */
    animation: typing 4s steps(12) 1s 1 normal both, blink 0.75s step-end infinite; /* Animacja pisania */
  }
  
  /* Animacja pisania */
  @keyframes typing {
    from {
      width: 0; /* Zaczyna się od braku tekstu */
    }
    to {
      width: 100%; /* Kończy na pełnym tekście */
    }
  }
  
  @media (height<901px) or (width<1200px) {
    .app {
      flex-direction: column;
    }
  }
  