
.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .image-container {
    position: relative; 
    width: 100%;
    height: auto;
    margin-bottom: 20px;  
  }
  

  .quote-image {
    width: 100%;
    height: auto; 
    object-fit: cover; 
    pointer-events: none;
  }
  
  .quote-wrapper {
    display: flex;
    align-items: center; 
    white-space: nowrap; 
    width: 100%; 
    max-width: 600px; 
    padding: 0 10px;  
    box-sizing: border-box;
  }
  
  .quote {
    font-size: 2rem;
    font-weight: bold;
    color: snow;
    font-family: 'Arial', sans-serif;
    font-style: italic;
    text-align: right;
    opacity: 1;
    margin: 0 5px 0 350px;  
  }
  

  .cursor {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(235, 222, 222);
    animation: blink 0.8s step-start infinite; /* Miganie kursora */
  }
  
  /* Animacja migającego kursora */
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @media (width<1000px)
  {
    .quote
    {
        margin: 0 5px 0 70px;
    }
  }