
.form-container {
  width: 100%;
  min-width: 250px;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background: #363a44;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(17, 17, 17, 0.1);
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.error-message {
  color: red;
  font-size: 16px;
  margin-top: 10px;
}

.success-message {
  color: green;
  font-size: 16px;
  margin-top: 10px;
}

.forgot-password {
  cursor: pointer;
}

.form-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.toggle-button {
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  color: snow;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.toggle-button:hover {
  background-color: #4CAF50;
  color: white;
}

.toggle-button.active {
  background-color: #4CAF50;
  color: white;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.form-group {
  margin-bottom: 5px;
  text-align: left;
}

label {
  display: block;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 5px;
}
.forgot-div
{
  text-align: right;
}
.forgot-password
{
  background: #363a44;
  border: none;
  cursor: pointer;
  color:snow;
  padding: 10px 0 10px 0;
}
.form-forgot
{
  width: 100%;
  padding: 8px;
  margin: 10px 0 10px 0;
  background-color: #2196F3;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  background: #2c2f36;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}

.success-message {
  color: green;
  text-align: center;
  margin-top: 10px;
}


.form-submit {
  width: 100%;
  padding: 12px;
  background-color: #2196F3;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
}

.form-submit:hover {
  background-color: #0b7dda;
}

/* Animacja formularza przy przełączaniu */
@keyframes slide-in {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Animacja dla całego formularza przy zmianie */
.form-container {
  animation: slide-in 0.6s ease-out forwards;
}
@media (width<1600px)
{
  .form-container
  {
    margin-bottom: 100px;
  }
}